# virtual consoles (VGA)
ttyv0   "/usr/libexec/getty Pc"   xterm   on  secure
ttyv1   "/usr/libexec/getty Pc"   xterm   off secure
ttyv2   "/usr/libexec/getty Pc"   xterm   off secure
ttyv3   "/usr/libexec/getty Pc"   xterm   off secure
ttyv4   "/usr/libexec/getty Pc"   xterm   off secure
ttyv5   "/usr/libexec/getty Pc"   xterm   off secure
ttyv6   "/usr/libexec/getty Pc"   xterm   off secure
ttyv7   "/usr/libexec/getty Pc"   xterm   off secure

# serial console
ttyu0   "/usr/libexec/getty std.115200"   vt100   on  secure
